/*****Body*****/

/*****Primer Div*****/

.div1{
	background: ;
	text-align: center;
	margin: 10px 0 150px 0;
}

.div1 form{
	display: inline-block;
}

.div1 h1{
	font-size: 35px;
	text-align: center;
	font-family: 'Julius Sans One', sans-serif;
	margin: auto 8px;
	display: inline-block;
	vertical-align: middle;
}

.div1 input{
	border: none;
	font-size: 15px;
	font-family: 'Arial';
	padding: 13px 13px;
	background: #D8D8D8;
	border-radius: 20px;
	display: inline-block;	
	width: 500px;
}

.div1 img{
	width: 18px;
	display: inline-block;
	vertical-align: middle;
	margin: auto 6px;
}

/*****Segundo Div*****/

.div2{
	display: block;	
	background-color: #FFE1FB;
	border: none;
	border-radius: 20px;
	position: relative;
	margin: auto 300px;
	padding: 50px 50px;
}

.div2 .div2_1 #img1{
	width: 230px;
	position: absolute;
	bottom: 0;
	left: 20px;
}

.div2 .div2_1 h1{
	font-size: 20px;
	font-family: 'Julius Sans One', sans-serif;
	display: inline-block;
	margin: 6px auto;
	position: absolute;
	left: 230px;
}

.div2 .div2_1 #img2{
	width: 25px;
	margin: auto 8px;
}

.div2 .div2_1 h2{
	font-size: 13px;
	font-family: 'Julius Sans One', sans-serif;
	margin: 6px auto;
	position: absolute;
	left: 230px;
}

.div2 .div2_2{
	position: absolute;
	float: right;
	background-color: ;
	bottom: 0;
	right: 10px;
}

.div2 .div2_2 a p{
	font-family: 'Julius Sans One', sans-serif;	
	display: inline-block;
	font-size: 12px;
}

.div2 .div2_2 a img{
	width: 18px;
	margin-left: 5px;
	vertical-align: middle;
}

/*****Tercer Div*****/

.div3{
	margin-top: 150px;
}

.div3 select{
	border: none;
	font-size: 13px;
	font-family: 'Arial';
	padding: 13px 13px;
	margin-right: 20px;
	background: #E87800;
	border-radius: 20px;
	display: inline-block;		
	width: 200px;
	text-align: center;
	float: right;
}

.div3 h1{
	font-size: 35px;
	text-align: left;
	font-family: 'Julius Sans One', sans-serif;
	margin: 5px 20px;
	vertical-align: middle;
	display: inline-block;
}

.div3 #img3{
	width: 40px;
	vertical-align: middle;
}

.div3 .div3_1 ul{
	margin: 10px auto;
	clear: both;
	display: inline-block;
	font-family: 'Helvetica', sans-serif;
}

.div3 .div3_1 ul li{
	background-color: #E8E8E8;
	display: block;
	position: relative;
	list-style: none;
	float: left;
	width: auto;
    margin: 3px 10px;
    padding: 30px 10px;
    border: none;
    border-radius: 50px;
}

.div3 .div3_1 ul li:hover{
	background-color: #F9FB5E;
	-webkit-transform: scale(1.12,1.12);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 100ms;
	-moz-transform: scale(1.12,1.12);
	-moz-transition-timing-function:ease-out;
	-moz-transition-duration: 100ms;
}

.div3 .div3_1 ul li img{
	border-radius: 50%;
	width: 40px;
	margin: -20px auto 10px; 
	background-color: #fff;
	padding: 10px;
}

.div3 .div3_1 ul #flecha1{
	padding: 5px 5px 5px 5px;
	background: #F2F2F2;
}

.div3 .div3_1 ul li #flecha1_1{
	border-radius: 50%;
	width: 15px;
	margin: 0px 0px 0px 0px;
}

.div3 .div3_1 ul li p{
	text-align: center;
}

/*****Cuarto Div*****/

.div4 ul{
	display: inline-block;
;	list-style: none;
}

.div4 ul li{
	display: inline-block;
	position: relative;
	margin: 20px 30px 10px 30px;
}

.div4 h1{
	font-family: 'Julius Sans One', sans-serif;
	margin: 10px 2px 8px;
}

.div4 h2{
	display: inline-block;
	margin: 0 auto;
	font-family: 'Helvetica';
	color: #2D2C2C;
	font-size: 20px; 
}

.div4 p{
	display: inline-block;
	font-family: 'Helvetica';
	color: #B7B7B7;
	margin: 0 5px;
}

.div4 img{
	width: 250px;
	border: none;
	border-radius: 20px; 
}

.div4 #img4{
	width: 17px;
	display: inline-block;
}