/*****Body*****/
body{
	background: #F7F7F7;
}
/*****Primer Div*****/

.div1{
	background: #E87800;
	border-top: 2px solid #FFBC74;
	border-bottom: 2px solid #FFBC74;
	text-align: center;
	margin: 0 0 100px 0;
}

#div1__1{
	margin-bottom: 50px;
}

.div1 form{
	display: inline-block;
}

.div1 h1{
	color: black;
	font-size: 35px;
	text-align: center;
	font-family: 'Julius Sans One', sans-serif;
	margin: auto 8px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 20px;
	background-color: #fff;
	margin-top: 2px;
	margin-bottom: 2px;
}

.div1 h1:hover{
	color: #F9FB5E;
	background-color: #E87800;
	border: 2px solid #F9FB5E;
	border-radius: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 6px; 
	margin-left: 6px;
}

.div1 input{
	border: none;
	font-size: 15px;
	font-family: 'Arial';
	padding: 10px 13px 13px;
	background: #fff;
	border-radius: 20px;
	margin: 0 5px;
	display: inline-block;	
	width: 420px;
}

.div1 img{
	width: 18px;
	display: inline-block;
	vertical-align: middle;
	margin: 6px;
	padding: 5px 5px;
}

.div1 img:hover{
	background-color: #E8E8E8;
	border-radius: 50%;
	-webkit-transform: scale(1.12,1.12);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 100ms;
	-moz-transform: scale(1.12,1.12);
	-moz-transition-timing-function:ease-out;
	-moz-transition-duration: 100ms;
}

.div1 a{
	margin-left: -50px;
	margin-right: 50px;
}

#li1{
	background: #654ED9;
	padding: 20px 20px;
	margin: 10px auto;
	border-radius: 20px;
	text-align: left;
	font-family: 'Helvetica', sans-serif;
}

#li1 #li1_1 h3{
	display: inline-block;
	font-size: 14px;
	color: #fff;
}

#li1 #li1_1 p{
	display: inline-block;
	font-size: 10px;
	float: right;
	margin: 17px 0;
	color: #E87800;
}

#li1 #li1_2 img{
	display: inline-block;
	width: 20px;
	margin: 0;
	padding: 2px;
}

#li1 #li1_2 img:hover{
	width: 20px;
	padding: 2px;
	background: #8D5CDF;
	border-radius: 5px;
}

#li1 #li1_2 h3{
	display: inline-block;
	font-size: 14px;
	color: #fff;
	margin-left: 6px;
}

#li1 #li1_2 p{
	display: inline-block;
	font-size: 10px;
	float: right;
	margin: 17px 0;
	color: #E87800;	
}

#li2 div ul{
	width: 250px;
}

#li2 li h3{
	font-family: 'Helvetica', sans-serif;
	font-size: 13px;
	display: inline-block;
}

#li2 li h4{
	font-family: 'Helvetica', sans-serif;
	font-size: 10px;
	display: inline-block;
	margin: auto 5px;
}

#li3 h3{
	font-family: 'Julius Sans One', sans-serif;
	display: inline-block;
	margin-right: 20px;
}

#li3 h2{
	font-family: 'Helvetica', sans-serif;
	display: inline-block;
	margin-left: 20px;
}

#li4 select{
	border-radius: 15px;
	width: 82px;
	height: 32px;
	display: inline-block;
	float: left;
}

#li4 h3{
	font-family: 'Julius Sans One', sans-serif;
	font-size: 12px;
	display: inline-block;
}

#li4 div{
	width: 112px;
	display: inline-block;
}

#li4 div div{
	width: 120px;
	float: right;
	background: #F9FB5E;
	border-radius: 15px;
	vertical-align: middle;
}

#li4 #imgX{
	display: inline-block;
	margin: 0;
}

#li4 fieldset{
	width: 40px;
	border: none;
	margin-right: 0;
	font-family: 'Julius Sans One', sans-serif;
	font-size: 13px;
}

input#abrir-cerrar {
    visibility:hidden;
    position: absolute;
    top: -9999px;
}

label[for="abrir-cerrar"] {
    cursor:pointer;
    padding: 10px 10px;
    background-color: #D76F00;
    color:#fff;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 20px;
    margin: 0;
}

.cerrar {
    display:none;
}

#sidebar {
    width:0;
}

#contenido {
    margin-right:0;
}

input#abrir-cerrar:checked ~ #sidebar {
    width:300px;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"], input#abrir-cerrar:checked ~ #contenido {
    margin-right:;
    transition: margin-right .2s;
}


input#abrir-cerrar:checked + label[for="abrir-cerrar"] .cerrar {
    display:inline;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"] .abrir {
    display:none;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 0;
    top: 0px;
    right: 0;
    z-index: 1;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.4s;
    padding: 1rem 0;
    box-sizing:border-box;
    border-left: 2px solid #FFBC74;
    border-bottom: 2px solid #FFBC74;
}

.sidebar .boton-cerrar {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 2rem;
    display: block;
    padding: 0;
    line-height: 1.5rem;
    margin: 0;
    height: 32px;
    width: 32px;
    text-align: center;
    vertical-align: top;
}

.sidebar ul, .sidebar li{
    margin:0;
    padding:0;
    list-style:none inside;
}

.sidebar ul {
    margin: 1rem auto;
    display: block;
    width: 80%;
    min-width:100px;
}

.sidebar a {
    display: block;
    font-size: 120%;
    color: #E87800;
    text-decoration: none;
    
}

.sidebar a:hover{
    color:#fff;
    background-color: #f90;

}

#contenido {
    transition: margin-right .4s;
    padding: 1rem;
}

.abrir-cerrar {
    color: #2E88C7;
    font-size:1rem;   
}

#li2 ul{
	margin: 0;
	width: 70px;
}

#li2 ul li{

}

#li2 img{
	width: 80px;
    display: inline-block;
    margin: 4px;
    padding: 3px 3px;
    border-radius: 12px;
}

#li2 #deliver{
	width: 50px;
}

#li2 img:hover{
	background-color: #;
	border-radius: 0;
	-webkit-transform: 0;
	-webkit-transition-timing-function: 0;
	-webkit-transition-duration: 0;
	-moz-transform: 0;
	-moz-transition-timing-function:0;
	-moz-transition-duration: 0;
}



/*****Segundo Div*****/

.div2{
	background-color: #FAEDDE;
	width: 790px;
	height: 180px;
	margin: 0 auto;
	border-radius: 20px;
	border:1px solid #F9FB5E;
}

.div2:hover{
	background: #F9FB5E;
}

.div2 .div2_1{
	display: inline-block;
	width: 250px;
	height: 232px;
	float: left;
}

.div2 .div2_2{
	display: inline-block;
	width: 410px;
	height: 80px;
	margin-bottom: 50px;
	margin-top: 50px;
	float: left;
}

.div2 .div2_3{
	display: inline-block;
	width: 130px;
	height: 30px;
	float: left;
	margin-top: 150px;
}

.div2 .div2_2 h1{
	font-size: 20px;
	color: #E87800;
	font-family: 'Julius Sans One', sans-serif;
	display: inline-block;
}

.div2 .div2_2 h2{
	font-size: 13px;
	font-family: 'Julius Sans One', sans-serif;
	margin: 6px auto;
}

.div2 .div2_3 a p{
	font-family: 'Julius Sans One', sans-serif;
	color: #E87800;
	font-size: 12px;
	display: inline-block;
	text-align: right;
}

.div2 .div2_1 #img1{
	max-width: 250px;
	margin: -52px 0 0 0;
}

.div2 .div2_2 #img2{
	max-width: 30px;
	vertical-align: middle;
}

.div2 .div2_3 #imgX{
	max-width: 20px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
}

h1{
	text-align: center;
	font-family: 'Julius Sans One', sans-serif;
	font-size: 35px;
	margin: 0 auto;
}

h1:hover{
	color: #F9FB5E;
	background-color: #E87800;
	border:2px solid #F9FB5E;
	border-radius: 20px;
	margin: auto 18px;
}

/*****Tercer Div*****/

.div3{
	margin-top: 100px;
}

.div3 select{
	border: none;
	font-size: 13px;
	font-family: 'Arial';
	padding-left: 8px;
	margin-right: 20px;
	background: #E87800;
	border-radius: 20px;
	display: inline-block;		
	width: 200px;
	height: 40px;
	border: 2px solid #FFBC74;
	text-align: right;
	vertical-align: middle;
	float: right;
}

.div3 option{
	background-color: #FFBC74;
	text-align: right;
}

.div3 h1{
	font-size: 35px;
	font-family: 'Julius Sans One', sans-serif;
	margin: auto 20px;
	vertical-align: middle;
	display: inline-block;
}

.div3 h1:hover{
	color: #F9FB5E;
	background-color: #E87800;
	border:2px solid #F9FB5E;
	border-radius: 20px;
	margin: auto 18px;
}

.div3 #img3{
	width: 40px;
	vertical-align: middle;
}

.div3 .div3_1{
	height: 42px;
	background: #fff;
	border-top: 1px solid #E6E6E6;
	border-bottom: 2 solid #E6E6E6;
	border-radius: 15px;
}

.div3 .div3_1 select{
	color: #fff;
}

.div3 #imgz{
    width: 18px;
    display: inline-block;
    vertical-align: middle;
    margin: 6px;
    padding: 5px 5px;
}

.div3 .div3_2{
	margin-top: 16px;
	margin-left: 13.5%;
	margin-right: auto;
	display: inline-block;
	position: static;
}

.div3 .div3_2 ul{
	display: inline-block;
	font-family: 'Helvetica', sans-serif;
}

.div3 .div3_2 ul li{
	background-color: #fff;
	display: inline-block;
	list-style: none;
	width: auto;
    margin: 3px 10px;
    padding: 30px 10px;
    border:1px solid #F9FB5E;
    border-radius: 50px;
    font-style: none;	
}

.div3 .div3_2 ul li a{
	text-decoration: none;
	color: black;
}

.div3 .div3_2 ul li:hover{
	background-color: #F9FB5E;
	-webkit-transform: scale(1.12,1.12);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 100ms;
	-moz-transform: scale(1.12,1.12);
	-moz-transition-timing-function:ease-out;
	-moz-transition-duration: 100ms;
}

.div3 .div3_2 ul #comitas{
	background: #E87800;
	font-size: 14px;
	margin: 2px auto;
}

.div3 .div3_2 ul li img{
	border-radius: 50%;
	width: 40px;
	margin: -20px auto 10px; 
	background-color: #fff;
	padding: 10px;
}

.div3 .div3_2 ul #flecha1{
	padding: 5px 5px 5px 5px;
	background: #F2F2F2;
}

.div3 .div3_2 ul li #flecha1_1{
	border-radius: 50%;
	width: 15px;
	margin: 0px 0px 0px 0px;
}

.div3 .div3_2 ul li p{
	text-align: center;
}

/*****Cuarto Div*****/

.div4{
	background: #fff;
	border-top: 1px solid #E6E6E6;
	border-bottom: 2 solid #E6E6E6;
	border-radius: 15px;
}

.div4 ul{
	margin-left: 12%;
	display: inline-block;
	list-style: none;
}

#div4__1{
	text-align: center;
}

.div4 #div4__1 ul{
	margin-left: -40px;
}

#div4__1 li{
	width: 450px;
	margin: 0 0 0 0;

}

.div4 #div4__1 h3{
	background: #fff;
	width: 110px;
	margin: 0 auto;
	margin-top: 0;
	font-family: 'Helvetica', sans-serif;
	border-radius: 10px;
	color: #FFF3EA;
	text-shadow: -1px -1px 0 #000,  
                  1px -1px 0 #000,
  		         -1px 1px 0 #000,
                  1px 1px 0 #000;
}
.div4 #frutas{
	font-size: 12px;
}

.div4 #frutas h1{
	margin-top: 21px;
}

.div4 ul li{
	display: inline-block;
	margin: 20px 30px 10px 30px;
}

.div4 ul li:hover{
	background-color: #F9FB5E;
	color: black;
	border-radius: 20px;	
}

.div4 h1{
	font-family: 'Julius Sans One', sans-serif;
	margin: 10px 2px 8px;
}

.div4 h2{
	display: inline-block;
	margin: 0 auto;
	font-family: 'Helvetica';
	color: #2D2C2C;
	font-size: 20px; 
}

.div4 p{
	display: inline-block;
	font-family: 'Helvetica';
	color: #B7B7B7;
	margin: 0 5px;
}

.div4 img{
	width: 250px;
	height: 167px;
	border:1px solid #F9FB5E;;
	border-radius: 20px; 
}

.div4 #div4__1 #im{
	margin-bottom: -26px;
}

.div4 #img4{
	margin-left: 4px;
	width: 17px;
	height: 17px;
	display: inline-block;
	background-color: #fff;
}

.div4 #img4:hover{
	background-color: yellow;
}

/*****Footer*****/

.div5 p{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 0px;
	background-color: #E87800;
	padding: 10px;
	font-size: 10px; 	
	font-family: 'Helvetica', sans-serif;
	border-top: 2px solid #FFBC74;
	border-bottom: 2px solid #FFBC74;
}