@media all and (min-width: 480px){
	.div1{
	background: #E87800;
	border-top: 2px solid #FFBC74;
	border-bottom: 2px solid #FFBC74;
	text-align: center;
	margin: 0 0 50px 0;
}

.div1 input{
	border: none;
	font-size: 15px;
	font-family: 'Arial';
	padding: 10px 13px 13px;
	background: #fff;
	border-radius: 20px;
	margin: 0 5px;
	display: inline-block;	
	width: 380px;
}

	.div3{
	margin-top: 50px;
}

	.div3 .div3_2{
	margin-top: 16px;
	margin-left: 10%;
	display: inline-block;
}

	.div3 select{
	border: none;
	font-size: 15px;
	font-family: 'Arial';
	padding: 7px 7px;
	margin-right: 20px;
	background: #E87800;
	border-radius: 20px;
	display: inline-block;		
	width: 120px;
	height: 40px;
	border: 1px solid #FFBC74;
	text-align: center;
	vertical-align: middle;
	float: right;
}

	.div2{
	background-color: #FAEDDE;
	width: 375px;
	height: 82px;
	margin: 0 auto;
	border-radius: 20px;
}

.div2 .div2_1{
	display: inline-block;
	width: 90px;
	height: 100px;
	float: left;
}

.div2 .div2_2{
	display: inline-block;
	width: 205px;
	height: 40px;
	margin-bottom: 25px;
	margin-top: 25px;
	float: left;
}

.div2 .div2_3{
	display: inline-block;
	width: 63px;
	height: 15px;
	float: left;
	margin-top: 64px;
}	

.div2 .div2_2 h1{
	font-size: 10px;
	color: #E87800;
	font-family: 'Julius Sans One', sans-serif;
	display: inline-block;
}

.div2 .div2_2 h2{
	font-size: 7.5px;
	font-family: 'Julius Sans One', sans-serif;
	margin: 3px auto;
}

.div2 .div2_3 a p{
	font-family: 'Julius Sans One', sans-serif;
	color: #E87800;
	font-size: 6px;
	display: inline-block;
	text-align: right;
}

.div2 .div2_1 #img1{
	max-width: 107px;
	margin: -18px 0 0 0;
}

.div2 .div2_2 #img2{
	max-width: 15px;
	vertical-align: middle;
}

.div2 .div2_3 #imgX{
	max-width: 10px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
}

}

@media all and (min-width: 660px){
	.div1{
	background: #E87800;
	border-top: 2px solid #FFBC74;
	border-bottom: 2px solid #FFBC74;
	text-align: center;
	margin: 0 0 100px 0;
}

.div1 input{
	border: none;
	font-size: 15px;
	font-family: 'Arial';
	padding: 10px 13px 13px;
	background: #fff;
	border-radius: 20px;
	margin: 0 5px;
	display: inline-block;	
	width: 420px;
}

	.div3{
	margin-top: 100px;
}

	.div3 select{
	border: none;
	font-size: 13px;
	font-family: 'Arial';
	padding: 10px 10px;
	margin-right: 20px;
	background: #E87800;
	border-radius: 20px;
	display: inline-block;		
	width: 200px;
	height: 40px;
	border: 2px solid #FFBC74;
	text-align: center;
	vertical-align: middle;
	float: right;
}

	.div3 .div3_2{
	margin-top: 16px;
	margin-left: 13.5%;
	display: inline-block;
}
	.div2{
	background-color: #FAEDDE;
	width: 790px;
	height: 180px;
	margin: 0 auto;
	border-radius: 20px;
}

.div2 .div2_1{
	display: inline-block;
	width: 250px;
	height: 232px;
	float: left;
}

.div2 .div2_2{
	display: inline-block;
	width: 410px;
	height: 80px;
	margin-bottom: 50px;
	margin-top: 50px;
	float: left;
}

.div2 .div2_3{
	display: inline-block;
	width: 130px;
	height: 30px;
	float: left;
	margin-top: 150px;
}

.div2 .div2_2 h1{
	font-size: 20px;
	color: #E87800;
	font-family: 'Julius Sans One', sans-serif;
	display: inline-block;
}

.div2 .div2_2 h2{
	font-size: 13px;
	font-family: 'Julius Sans One', sans-serif;
	margin: 6px auto;
}

.div2 .div2_3 a p{
	font-family: 'Julius Sans One', sans-serif;
	color: #E87800;
	font-size: 12px;
	display: inline-block;
	text-align: right;
}

.div2 .div2_1 #img1{
	max-width: 250px;
	margin: -52px 0 0 0;
}

.div2 .div2_2 #img2{
	max-width: 30px;
	vertical-align: middle;
}

.div2 .div2_3 #imgX{
	max-width: 20px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
}

}